@import "node_modules/bootstrap/scss/functions";
@import "scss/functions";
@import "scss/variables";

header {
  display: flex;
  justify-content: space-between;
  margin-top: $grid-gutter-width;
  padding-top: $grid-gutter-width;
  padding-bottom: $grid-gutter-width;
}

section {
  min-height: 600px;
}

.specimen {
  margin-bottom: 15px;
  padding: 15px;

  &:last-child {
    margin: 0;
  }
}

.swatch {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 15px;
}

#containerExample, #containerFluidExample {
  border: color("gray") 1px solid;
}

#modalFluidContainerExample {
  .row [class^="col-"] {
    background: $gray-300;
    padding: 1rem;
  }
}
