@import "node_modules/bootstrap/scss/functions";
@import "scss/functions";
@import "scss/variables";

header:not(.table-header) {
  display: flex;
  justify-content: space-between;
  margin-top: $grid-gutter-width;
  padding-top: $grid-gutter-width;
  padding-bottom: $grid-gutter-width;
}

section {
  min-height: 600px;
}

.specimen {
  margin-bottom: 15px;
  padding: 15px;

  &:last-child {
    margin: 0;
  }
}

.swatch {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 15px;

  &:last-child {
    margin: 0;
  }
}

.charmap {
  display: flex;
  flex-wrap: wrap;
  margin: $grid-gutter-width / -2;

  > div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: theme-color("light");
    padding: $grid-gutter-width / 2;
    margin: $grid-gutter-width / 2;

    * {
      text-align: center;
      margin-bottom: $grid-gutter-width / 4;

      &:first-child {
        margin-top: $grid-gutter-width / 4;
      }
    }
  }
}

#containerExample,
#containerFluidExample {
  border: color("gray") 1px solid;
}

#modalFluidContainerExample {
  .row [class^="col-"] {
    background: theme-color("light");
    padding: 1rem;
  }
}
