@mixin multiLineEllipsis($bgColor: inherit, $lineCount: 2, $lineHeight: $line-height-base){
  line-height: $lineHeight;
  margin-right: -1em;
  max-height: $lineCount * $lineHeight * 1em;
  overflow: hidden;
  padding-right: 1em;
  position: relative;
  text-align: justify;

  &::before {
    bottom: 0;
    content: "\02026";
    position: absolute;
    right: 5px;
  }

  &::after {
    background: $bgColor;
    content: "";
    height: 1em;
    margin-top: .2em;
    position: absolute;
    right: 5px;
    width: 1em;
  }
}
