@mixin glow-variant($border) {
  border-color: $border;
  box-shadow: 0 0 0 $btn-focus-width rgba($border, .5);
  outline: 0 !important; // stylelint-disable-line declaration-no-important
}

@mixin focus-variant($value) {
  &:focus {
    @include glow-variant($value);
  }
}
