.accordion {

  .card {

    &:not(:last-child) {
      margin-bottom: 0;
    }

    &:not(:first-of-type) {
      .card-header {
        border-top: $border-width $border-color-default solid;
      }
    }

    .card-header {
      background-color: inherit;
      border-bottom: 0;
      cursor: pointer;
      font-size: px(18);
      line-height: px(20);

      &::after {
        color: color("blue");
        content: theme-icon("collapse");
        font-family: fluidicons, system-ui;
        font-size: $accordion-icon-font-size;
        height: 0;
        position: absolute;
        right: 36px;
        top: space(16);
        width: 0;
      }

      &.collapsed::after {
        content: theme-icon("expand");
      }
    }

    .card-body {
      padding-top: 0;
    }
  }
}

.palette-dark {

  .accordion {

    .card {

      &:not(:first-of-type) {

        .card-header {
          border-color: $border-color-default-dark;
        }
      }

      .card-header {

        &::after {
          color: color-dark("blue");
        }
      }
    }
  }
}

.palette-accessible {

  .accordion {

    .card {

      &:not(:first-of-type) {
        border-top-width: 0;

        .card-header {
          border-color: $border-color-default-accessible;
        }
      }

      .card-header {

        &::after {
          color: color-accessible("blue");
        }
      }
    }
  }
}
