.navbar {

  .breadcrumb {
    margin: 0;
    padding: 0;
  }
}

.breadcrumb-item {
  font-size: $font-size-lg;
  font-weight: $font-weight-light;

  &:not(:first-child) {
    //padding-left: space(8);
    padding-left: space(16);
  }

  &.active {
    color: text-color("default");
  }

  a {
    color: text-color("light");
  }

  & + .breadcrumb-item::before {
    border-left: $border-width solid $border-color-default;
    content: " ";
    height: space(24);
    padding-right: space(16);
    position: relative;
    top: -2px;
    transform: skew(-34deg);
    vertical-align: middle;
  }
}

.palette-dark {

  .breadcrumb {
    background-color: $breadcrumb-bg-dark;
  }

  .breadcrumb-item {

    &.active {
      color: $breadcrumb-active-color-dark;
    }

    a {
      color: text-color-dark("light");
    }

    + .breadcrumb-item {

      &::before {
        border-left-color: $border-color-default-dark;
        color: $breadcrumb-divider-color-dark;
      }
    }
  }
}

.palette-accessible {

  .breadcrumb {
    background-color: $breadcrumb-bg-accessible;
  }

  .breadcrumb-item {

    &.active {
      color: $breadcrumb-active-color-accessible;
    }

    a {
      color: text-color-accessible("light");
    }

    + .breadcrumb-item {

      &::before {
        border-left-color: $border-color-default-accessible;
        color: $breadcrumb-divider-color-accessible;
      }
    }
  }
}
