.card {

  &:not(:last-child) {
    margin-bottom: $card-margin;
  }

  &:not([class*="bg-"]) {

    .card-header {
      color: $text-light;
    }

    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6 {
      color: $text-light;
    }
  }
}

.card-header {
  background-color: inherit;
  border-bottom: $border-width $border-color solid;
}

.card-body {
  background-color: inherit;

  > .container,
  > .container-fluid {
    width: auto;
    margin-left: -$grid-gutter-width;
    margin-right: -$grid-gutter-width;
  }

  + .card-footer {
    padding-top: 0;
  }
}

.card-subtitle {
  margin-top: 0;
  margin-bottom: $card-spacer-y / 2
}

.card-header-tabs,
.card-header-pills {
  margin-right: 0;
  margin-left: 0;
}

.card-group,
.card-deck {
  margin-bottom: $grid-gutter-width;

  .card {
    margin-bottom: 0;
  }
}

.card-group {

  .card {
    border-left-width: $border-width;
    border-right-width: $border-width;

    &:first-of-type {
      border-left-width: 0;
    }

    &:last-of-type {
      border-right-width: 0;
    }
  }
}
