.close {
  &:active,
  &:focus {
    outline: none;
  }

  &::before {
    content: "*";
    font-family: $font-family-symbol;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.palette-dark {
  .close {
    color: $close-color-dark;

    @include hover {
      color: $close-color-dark;
    }
  }
}

.palette-accessible {
  .close {
    color: $close-color-accessible;

    @include hover {
      color: $close-color-accessible;
    }
  }
}
