.dropdown-menu {
  box-shadow: $box-shadow-lg;
}

@mixin dropdown-item-variant($background, $hover-background: darken($background, 7.5%), $active-background: darken($background, 10%)) {
  @include hover-focus {
    color: color-yiq($hover-background);
    @include gradient-bg($hover-background);
  }

  &.active,
  &:active {
    @include gradient-bg($active-background);
  }
}

@each $color, $value in $theme-colors {
  .btn-#{$color} + .dropdown-menu .dropdown-item {
    @include dropdown-item-variant($value, $value);
  }
}
