.container,
.container-fluid,
.row,
.col,
[class^="col-"] {
  background-color: inherit;
}

.container,
.container-fluid {
  background-color: inherit;
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

.container-fluid {
  max-width: $layout-max-width;
}

.row {
  background-color: inherit;
  // Works with the rule below to ensure there is
  // a gutter between items in a row when they flex-wrap.
  margin-top: -$grid-gutter-width;

  > * {
    // See above. Also ensures there is always the
    // appearance of a gutter between .rows because
    // it effectively adds a margin to all .cols.
    margin-top: $grid-gutter-width;
  }

  + .row {
    // Ensures that the gutter between .rows isn't doubled.
    margin-top: 0;
  }
}
