.icon {
  display: inline-block;
  text-align: center;

  &::before {
    margin: 0;
  }

  * {
    font-family: $font-family-base;
  }

  .badge {
    box-shadow: $box-shadow-lg;
    left: -.5em;
    position: relative;
    top: -.5em;
  }
}

.icon-info {
  color: theme-color("info");
}

.icon-success {
  color: theme-color("success");
}

.icon-warning {
  color: theme-color("warning");
}

.icon-danger {
  color: theme-color("danger");
}
