.icon {
  display: inline-block;
  text-align: center;

  * {
    font-family: $font-family-base;
  }

  .badge {
    position: relative;
    top: px(-7);
    left: px(-7);
    box-shadow: $box-shadow-lg;
  }
}

.icon-info {
  color: theme-color("info");
}

.icon-success {
  color: theme-color("success");
}

.icon-warning {
  color: theme-color("warning");
}

.icon-danger {
  color: theme-color("danger");
}
