.icon {
  display: inline-block;
  text-align: center;

  &::before {
    margin: 0;
  }

  * {
    font-family: $font-family-base;
  }

  .badge {
    box-shadow: $box-shadow-lg;
    left: -.5rem;
    position: relative;
    top: -.5rem;
  }

  &.status-icon {

    &::after {
      border-radius: 50%;
      color: $navbar-bg;
      font-family: $font-family-symbol;
      font-size: 1rem;
      height: space(16);
      left: 28px;
      line-height: space(16);
      position: absolute;
      text-align: center;
      top: 0;
      width: space(16);
    }

    &.status-success::after {
      content: "=";
    }

    &.status-warning::after {
      content: "!";
      font-family: $font-family-base;
    }

    &.status-danger::after {
      content: "*";
    }

    &.status-info::after {
      content: "i";
      font-family: $font-family-base;
    }

    @each $color, $value in $theme-colors {
      &.status-#{$color}::after {
        background-color: $value;
      }
    }
  }
}

.icon-info {
  color: theme-color("info");
}

.icon-success {
  color: theme-color("success");
}

.icon-warning {
  color: theme-color("warning");
}

.icon-danger {
  color: theme-color("danger");
}

.palette-dark {

  .icon-info {
    color: theme-color-dark("info");
  }

  .icon-success {
    color: theme-color-dark("success");
  }

  .icon-warning {
    color: theme-color-dark("warning");
  }

  .icon-danger {
    color: theme-color-dark("danger");
  }

  .status-icon::after {
    color: $navbar-bg-dark;

    @each $color, $value in $theme-colors-dark {
      &.status-#{$color}::after {
        background-color: $value;
      }
    }
  }
}

.palette-accessible {

  .icon-info {
    color: theme-color-accessible("info");
  }

  .icon-success {
    color: theme-color-accessible("success");
  }

  .icon-warning {
    color: theme-color-accessible("warning");
  }

  .icon-danger {
    color: theme-color-accessible("danger");
  }

  .status-icon::after {
    color: $navbar-bg-accessible;

    @each $color, $value in $theme-colors-accessible {
      &.status-#{$color}::after {
        background-color: $value;
      }
    }
  }
}
