.palette-dark {

  .jumbotron {
    background-color: $jumbotron-bg-dark;
    color: $jumbotron-color-dark;
  }
}

.palette-accessible {

  .jumbotron {
    background-color: $jumbotron-bg-accessible;
    color: $jumbotron-color-accessible;
  }
}
