.status::before {
  border-radius: 4px;
  content: " ";
  height: 8px;
  margin-right: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
}

@each $color, $value in $theme-colors {
  .status-#{$color}::before {
    background-color: $value;
  }
}

.palette-dark {
  @each $color, $value in $theme-colors-dark {
    .status-#{$color}::before {
      background-color: $value;
    }
  }
}

.palette-accessible {
  @each $color, $value in $theme-colors-accessible {
    .status-#{$color}::before {
      background-color: $value;
    }
  }
}
