$icon-success: $fa-var-check-circle;
$icon-warning: $fa-var-exclamation-circle;
$icon-danger:  $fa-var-times-circle;

$theme-icons: ();
// stylelint-disable-next-line scss/dollar-variable-default
$theme-icons: map-merge(
  (
    "success": $icon-success,
    "warning": $icon-warning,
    "danger":  $icon-danger,
  ),
  $theme-icons
);
